{% extends 'base/main.html'%}

{% block title%}Home Page{%endblock%}
{% include 'navbar.html' %}
{% block content%}

<style>
    .home-container{
        display: grid; 
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">
    <div>
        <h3>
            Browse Topics:
            <div>
                <a href="{% url 'Home' %}">All</a>
                <br>
            </div>
            {% for topic in topics %}
            <div>
                <a href="{% url 'Home' %}?q={{ topic.name }}">{{topic.name}}</a>
                <br>
            </div>
            {% endfor %}
        </h3>
    </div>
    
    <div>
        <h5>{{room_count}} room available </h5>
        <a href="{% url 'createRoom' %}"> Create Room </a>
        {% for i in data%}
            <div>
                <span>@{{i.host.username}} </span>
                <a href="/room/{{ i.id }}">
                    <h2> {{i.name}}</h2>
                </a>
                <small>
                        {{i.topic.name}}
                </small>
                <br>
                <a href="{% url 'updateRoom' i.id %}">Edit</a> <br>
                <a href="{% url 'delete' i.id %}">Delete</a> <br><hr>
            </div>
        {% endfor %}
        
    </div>
</div>



{%endblock%}